<!-- <p>
  charts works!
</p> -->
<!-- <div id="bar-container" style="min-width: 310px; height: 400px; margin: 0 auto"></div>
<div id="pie-container" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div> -->


<div class="container-fluid">
  <div class="row">
    <div class="col-md-7 col-sm-12 ">
      <div class="chart-wrapper">
        <div class="chart-container-header">
          <div class="col-xs-6">
            <h4>Hours per period</h4>
          </div>
          <div class="col-xs-3">
            <div class="date-wrapper">
              <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker>
            </div>
          </div>
          <div class="col-xs-3">
            <div class="dropdown-wrapper">
              <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle btn-type"
                  aria-controls="dropdown-basic">
                  Default<span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>

        <div id="bar-container"></div>
      </div>
    </div>
    <div class="col-md-5 col-sm-12">
      <div class="chart-wrapper">
        <div class="chart-container-header">
          <div class="col-xs-4">
            <h4>No Show</h4>
          </div>
          <div class="col-xs-4">
            <div class="date-wrapper">
              <input type="text" placeholder="Datepicker" class="form-control" bsDatepicker>
            </div>
          </div>

          <div class="col-xs-2">
            <div class="dropdown-wrapper">
              <div class="btn-group" dropdown>
                <button id="button-basic" dropdownToggle type="button" class="btn dropdown-toggle btn-type"
                  aria-controls="dropdown-basic">
                  Default <span class="caret"></span>
                </button>
                <ul id="dropdown-basic" *dropdownMenu class="dropdown-menu" role="menu" aria-labelledby="button-basic">
                  <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
                  <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>


        <div id="pie-container"></div>
      </div>
    </div>
  </div>
</div>
