// text .highcharts-xaxis-labels{
//     text-decoration: none !important;
//     color: rebeccapurple;
//     }

.chart-container-header{
    display: flex;
    padding: 20px;
    background-color: white;
    
}

.btn-type{
    background-color: #fff;
    border: 1px solid #eaeaee;
}

.bs-datepicker-container{
    padding: 20px;
    background-color: ghostwhite;
}

.container-fluid{
    padding-bottom: 30px;
}
