<div class="container main-container main-menu-container">
  <div class="logo-container">
    <span class="solution-logo-text">
      <img src="assets/icons_header/logo@2x.png">
    </span>
  </div>
  <ul class="menu-container">
    <li class="menu-item">
      <span class="menu-item-icon-wrapper">
        <img src="assets/icons_header/icon_05.png">
      </span>
      <span class="menu-item-text">Dashboard</span>
    </li>
    <li class="menu-item">
      <span class="menu-item-icon-wrapper">
        <img src="assets/icons_header/icon_03.png">
      </span>
      <span class="menu-item-text">Planning</span>
    </li>
    <li class="menu-item">
      <span class="menu-item-icon-wrapper">
        <img src="assets/icons_header/icon_01.png">
      </span>
      <span class="menu-item-text">Communication</span>
    </li>
    <li class="menu-item">
      <span class="menu-item-icon-wrapper">
        <img src="assets/icons_header/icon_02.png">
      </span>
      <span class="menu-item-text">Time Tracking</span>
    </li>
    <li class="menu-item">
      <span class="menu-item-icon-wrapper">
        <img src="assets/icons_header/icon_06.png">
      </span>
      <span class="menu-item-text">Reports</span>
    </li>
    <li class="menu-item">
      <span class="menu-item-icon-wrapper">
        <img src="assets/icons_header/icon_06.png">
      </span>
      <span class="menu-item-text">Organisation</span>
    </li>
    <!-- <li class="menu-item" >
        <span class="menu-item-icon-wrapper"><i class="fa fa-sign-out"></i></span>
        <span class="menu-item-text">Logout</span>assets/Icons/search_left@2x.png
      </li> -->
    <!-- <li class="menu-item menu-hide">
      <span class="menu-item-icon-wrapper">
        <i class="fa fa-angle-double-right"></i>
      </span>
    </li> -->
  </ul>


  <div class="menu-btn-wrapper">
    <span class="menu-btn">
      <img class="searchicon" src="assets/Icons/search_left.png">
    </span>
    <span class="menu-btn">
      <img class="user-img" src="assets/Icons/profile@2x.png">
    </span>
  </div>
  <!-- <div class="menu-btn-wrapper">
      <span class="menu-btn">
        <i class="fa fa-bars"></i>
      </span>
    </div> -->

</div>
