<div class="dashboard-main-container">
  <section>
    <div class="container">
      <div class="container-title">
        <h2>Dashboard</h2>
      </div>
    </div>
    <div class="container dashboard-container">
      <div class="card card-wrapper">
        <div class="row">
          <div class="col-xs-8">
            <div class="card-block">
              <h2 class="card-title">196</h2>
              <p class="card-text">Projects</p>
              <span>Last 7 days</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card-img-bottom">
              <img src="assets/Icons/Projects@3x.svg">
            </div>
          </div>
        </div>
      </div>

      <div class="card card-wrapper">
        <div class="row">
          <div class="col-xs-8">
            <div class="card-block">
              <h2 class="card-title">696</h2>
              <p class="card-text">Registration</p>
              <!-- <span>Last week</span> -->
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card-img-bottom">
              <img src="assets/Icons/Registrations@3x.svg">
            </div>
          </div>
        </div>
      </div>

      <div class="card card-wrapper">
        <div class="row">
          <div class="col-xs-8">
            <div class="card-block">
              <h2 class="card-title">99</h2>
              <p class="card-text">Open places on projects</p>
              <span>For the next 14 days</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card-img-bottom">
              <img src="assets/Icons/Open places@3x.svg">
            </div>
          </div>
        </div>
      </div>

      <div class="card card-wrapper">
        <div class="row">
          <div class="col-xs-8">
            <div class="card-block">
              <h2 class="card-title">5</h2>
              <p class="card-text">Projects with no hours booked</p>
              <span>Last week</span>
            </div>
          </div>
          <div class="col-xs-4">
            <div class="card-img-bottom">
              <img src="assets/Icons/Proj with no hoours@3x.svg">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <div class="container">
    <app-charts></app-charts>
    <app-section-list></app-section-list>
  </div>

  <!-- <div class="container">
    <app-section-list></app-section-list>
  </div> -->

</div>
